<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$('.wysiwyg').redactor({
		  css: '../redactor-form.css',
		  buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|',
      'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
      'image', 'video', 'table', 'link', '|',
      'alignleft', 'aligncenter', 'alignright', 'justify', '|',
      'horizontalrule', 'fullscreen']
		
		});
	  // $('#protocol_description').redactor();
	 //  $('#protocol_description').redactor();
	});
})(jQuery);
</script>

<%= simple_form_for(@protocol) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class='span12'>
        <%= f.input :title %>
      </div>
    </div>
    <div class='row'>
      <div class='span4'>    <%= f.input :genus %></div>
      <div class='span4'>    <%= f.input :species %></div>
      <div class='span4'>    <%= f.input :cell_or_tissue_type %></div>
    </div>
    <div class='row'>
      <div class='span4'>
        <%= f.input :materials, :input_html => {:class => 'wysiwyg'} %>    
      </div>  
      <div class='span8'>  
        <%= f.input :description, :input_html => {:class => 'wysiwyg'} %>
      </div>
    </div>
    <div class='row'>
      <div class='span12'>
        <%= f.input :instructions, :name => "Protocol", :input_html => {:class => 'wysiwyg'}  %>
        <%= f.input :references, :input_html => {:class => 'wysiwyg'} %>        
      </div>
    </div>


    <%= f.input :user_id, :as => :hidden, :input_html =>  {:value => current_user.id} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => 'Save' %>
  </div>
<% end %>
