<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$('#protocol_description').wysiwyg();
	});
})(jQuery);
</script>

<%= simple_form_for(@protocol) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row'>
      <div class='span4'>    <%= f.input :genus %></div>
      <div class='span4'>    <%= f.input :species %></div>
      <div class='span4'>    <%= f.input :cell_or_tissue_type %></div>
    </div>
    <div class='row'>
      <div class='span4'>
        <%= f.input :materials %>    
      </div>  
      <div class='span8'>  
        <%= f.input :description %>
      </div>
    </div>
    <div class='row'>
      <div class='span12'>
        <%= f.input :instructions, :name => "Protocol",  %>
        <%= f.input :references %>        
      </div>
    </div>


    <%= f.input :user_id, :as => :hidden, :input_html =>  {:value => current_user.id} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
