<p id="notice"><%= notice %></p>

<h1>

  <em><%= @protocol.genus %>
  <%= @protocol.species %> (<%= @protocol.cell_or_tissue_type %>)</em>
</h1>
<div class='row'>
  <div class='span12'>
    <h3>Intro/Description:</h3>
    <p><%= simple_format(@protocol.description) %></p>
  </div>
</div>
<div class='row'>
  <div class='span12'>
    <h3>Materials:</h3>
    <p><%= simple_format(@protocol.materials) %></p>

  </div>
</div>
<div class='row'>
  <div class='span12'>
    <h3>Protocol:</h3>
      <p><%= simple_format(@protocol.instructions) %></p> 
  </div>
</div>
<div class='row'>
  <div class='span12'>
    <h3>References:</h3>
      <p><%= simple_format(@protocol.references) %></p> 
  </div>
</div>
<div class='row'>
  <div class='span12'>
    <b>Added by:</b> <%= @protocol.user.email %>
  </div>
</div>


<% if current_user %>
<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>
<% end %>